{% extends 'base.html' %}
{% load highlight %}

{% block title %}
<title>搜索<title>
{% endblock %}

{% block main %}
{% if query %}
	{% for result in page.object_list %}
		<article class="post post-{{ result.object.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
					<a href="{{ result.object.get_absolute_url }}">
                        {% highlight result.object.title with query %}</a>
                </h1>
                <div class="entry-meta">
					<span class="post-category"><a href="{% url 'blogs:category' result.object.category.pk %}">
                            {{ result.object.category.name }}</a></span>
					<span class="post-date">
                        <a href="{% url 'blogs:archives' result.object.created_time.year result.object.created_time.month %}">
                            <time class="entry-date" datetime="{{ result.object.created_time }}">
                                {{ result.objcet.created_time }}</time></a></span>
					<span class="post-author"><a href="#">{{ result.objet.author }}</a></span>
					<span class="comments-link"><a href="{% url 'blogs:detail' result.object.pk %}#comment-area">
                            {{ result.object.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a href="{% url 'blogs:detail' result.object.pk %}">
                            {{ result.object.viewers }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
				<p>{{ result.object.excerpt }}</p>
                <div class="read-more cl-effect-14">
					<a href="{{ result.object.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
	{% empty %}
		<div class="no-post">没有搜索到你想要的结果！</div>
	{% endfor %}

<!--
    {% if is_paginated %}
        <div class="pagination-simple">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            <span class="current">第 {{ page_obj.number }} 页 / 
                共 {{paginator.num_pages }} 页</span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        </div>
    {% endif %}
-->
                
    {% if is_paginated %}
        <div class="pagination" style="font-size: 1.2em">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;&lt;</a>
        {% endif %}
            {% if left_has_more %}
            <a href="?page=1">1</a>
            <span>...</span>
                {% for i in left %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endfor %}
            {% else %}
                {% for i in left %}
                <a href="?page={{ i }}">{{ i }}</a?>
                {% endfor %}
            {% endif %}
            <a href="#"  style="color: red">{{page_obj.number }}</a>
            {% if right_has_more %}
                {% for i in right %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endfor %}
                <span>...</span>
                <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
            {% else %}
                {% for i in right %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endfor %}
            {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&gt;&gt;&gt;</a>
        {% endif %}
        </div>
    {% endif %}
{% else %}
<p>请输入关键词，例如python</p>
{% endif %}
{% endblock main %}
